#content {
  background-color: rgb(239, 238, 233);
  min-height: 100vh;
  margin: 0em 1em 0em 1em;
  padding-top: 50px;
  /* margin: 6rem auto 0; */
  box-sizing: border-box;
}

.picture {
  /* position: absolute; */
  top: 0;
  left: 0;
  max-width: 100%;
}
