.a {
  text-decoration: none;
  color: black;
}

.product-item {
  background-color: rgb(239, 238, 233);
  position: relative;
  font-family: Taviraj, serif;
  font-size: 18px;
}

.image-container {
  padding-top: 100%;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: Ubuntu, sans-serif;
  box-sizing: border-box;
  position: relative;
}

.quick-add-bar {
  background-color: rgba(194, 193, 193, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0px;
  visibility: visible;
  color: black;
}

.quick-add-bar-alt {
  background-color: rgba(255, 192, 203, 0.9);
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  opacity: 0;
}

.product-item:hover .quick-add-bar-container {
  display: block;
}

.quick-add-bar-container {
  display: none;
}

.quick-add-bar-container:hover .quick-add-bar-alt {
  opacity: 1;
}

.quick-add-bar-container:hover .quick-add-bar {
  visibility: hidden;
}

.quick-add-text {
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: 0.1em;
  letter-spacing: 0.1em;
  padding: 1em;
  text-align: center;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.quick-add-size {
  margin: 0px 4px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  width: 25px;
  height: 25px;
  padding-left: 2px;
}

.quick-add-size:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.quick-add-size div {
  text-align: center;
}

.text {
  font-family: Taviraj, serif;
  font-size: 18px;
  letter-spacing: -0.018rem;
  line-height: 1.4;
  white-space: normal;
  padding: 0.5em;
}

.text-brand {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 0.625em;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.text-info {
  font-weight: 500;
}

.not-clickable {
  pointer-events: none;
}
